.brand_title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: var(--blue);
  margin: 0;
}

.email_input {
  margin-top: 20px;
  padding: 14px 16px;
  background: #fafafa;
  border: 1px solid #f5f5f5;
  border-radius: 12px;
  width: 100%;
  box-sizing: border-box;
}

.email_input p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  color: #616161;
}

.email_input input {
  width: 100%;
  border: none;
  background: transparent;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
}

.email_input input:focus {
  outline: none;
}

.is_loged_in {
  margin: 36px auto;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
}

.is_loged_in a {
  color: var(--blue);
}

.modal_content button {
  width: 100%;
}

.password_input {
  margin-top: 20px;
  padding: 14px 16px;
  background: #fafafa;
  border: 1px solid #f5f5f5;
  border-radius: 12px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.password_input p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  color: #616161;
}

.password_input input {
  width: 100%;
  border: none;
  background: transparent;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
}

.password_input input:focus {
  outline: none;
}

.password_input img {
  position: absolute;
  right: 27px;
  cursor: pointer;
}

.eye {
  top: 27px;
}

.hidden {
  top: 27px;
}
